.about-profile {
	width: 100%;
  	text-align: center;
  	margin-bottom: 10px;
}

.about-profile-photos {
	display: inline-block;
	img {
		width: 23%;
		height: auto;
	}
}

.lets-connect {
	a {
		text-decoration: none;
	}
}